.img-left {
    width: 200px;
    position: absolute;
    top: 0;
    left: 0;
}

.img-right {
    width: 175px;
    position: absolute;
    top: 0;
    right: 0;
}

.bg-analytics {
    background: linear-gradient(118deg,#eb5a5b,#ef797a);
}